@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-primary: 59 130 246; /* blue-500 */
    --theme-secondary: 16 185 129; /* emerald-500 */
  }
  
  body {
    @apply bg-zinc-50 dark:bg-black text-zinc-900 dark:text-zinc-100;
  }
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}